extends layout

block layout-content
  each post in data.posts
    div.postContainer
      div.postContent
        a(href='/post/' + post._id)= post.content
      div.postReplies
        a(href='/post/' + post._id + '/replies')= post.repliesCount + 'x replies'
      div.postTagContainer
        each tag in post.tags
          a(id=tag._id,href='#')= tag.votes + 'x ' + tag.name